
<div class="clear"></div>
<div id="contentTop"></div><!-- Content starts here -->
<div id="content">
	<div class="welcomeHolder">
    <div class="welcome">
    	<img src="IMAGE NEEDED" alt="">
		<h1>About Us</h1>
        <p><em>the hub  allows for students, teachers, schools, and individuals to exchange books.  </em></p>  
         <p align="right"><input type="button" value="VIEW OUR MEALS" class="view"></p> 
         <div class="clear"></div>
    </div>

























