<div id="main"><!-- Main starts here -->
<div id="header"><!-- Header starts here -->
<link rel="stylesheet" href="/Develop/public/css/style.css">

<!-- Top Bar Menu starts-->
    <div id="wrapper">
  <div id="menu">
    <ul>
      <li><a href="/#" class="current"><span>.01</span>Home</a></li>
      <li><a href="/about#"><span>.02</span>About Us</a></li>
      <li><a href="/login#"><span>.03</span>Login</a></li>
      <li><a href="/exchange#"><span>.04</span>Exchange</a></li>
      <li><a href="/store#"><span>.05</span>Store</a></li>
      <li><a href="/contact#"><span>.07</span>Contact</a></li>
    </ul>
  </div>
 <!-- Top Bar Menu ends-->
    
    <div class="searchBar">
        <div class="search">
        	<div class="txt"><input type="text"></div>
            <div class="searchBt"><input type="button" value="search"></div>
        </div>
    	<div class="signIn">sign in</div>
    </div>
    <div class="logo">
    	<a href="/#"><img src="images/james baldwin general.jpg" alt=""></a>
    </div>
    <div><marquee behavior="scroll" direction="left">HTML scrolling text... </marquee></div><!--scrolling text-->

   

    <div class="subs">
    	<p>SUBCRIBE to RSS</p><img src="IMAGE NEEDED" alt="">
    </div>
</div><!-- Header ends here -->

<div class="clear"></div>
<div id="contentTop"></div><!-- Content starts here -->
<div id="content">
	<div class="welcomeHolder">
    <div class="welcome">
    	<img src="IMAGE NEEDED" alt="">
		<h1>James Baldwin</h1>
        <p><em>James Arthur Baldwin was an American novelist, playwright, essayist, poet, and activist. His essays, collected in Notes of a Native Son, explore intricacies of racial, sexual, and class distinctions in the Western society of the United States during the mid twentieth-century </em></p>  
         <p align="right"><input type="button" value="VIEW OUR MEALS" class="view"></p> 
         <div class="clear"></div>
    </div>
    <div class="welcomeBottom"></div>
    </div>
	<div class="heading">Why OurMeals?</div>
    <div class="organic">
    	<div class="organicHolder">
        	<div class="organicContent">
            	<img src="./Gluten Free Diet Image.jpg" alt="">
                <h2>Gluten Free</h2>
                <p>A gluten-free diet is an eating plan that excludes foods containing gluten. Gluten is a protein found in wheat, barley, rye and triticale (a cross between wheat and rye). A gluten-free diet is essential for managing signs and symptoms of celiac disease and other medical conditions associated with gluten. Following a gluten-free diet requires paying careful attention to food selections, the ingredients found in foods, and their nutritional content. </p>
            </div>
        </div>
        <div class="organicHolder">
        	<div class="organicContent">
            	<img src="./Dairy Free Diet Image.jpg" alt="">
                <h2>Dairy Free</h2>
                <p> Dairy-free means there is no dairy at all; the food is made from plants or nuts instead. Dairy refers to milk and any part of milk that comes from cows and other mammals. Thus, to be dairy-free, a product must have no milk and no ingredients that are part of milk.  A product that is dairy-free will not have lactose in it. This means that a product that is dairy-free is also lactose-free; but remember that a product that is lactose-free is not necessarily dairy-free. </p>
            </div>
        </div>
        <div class="organicHolder">
        	<div class="organicContent">
            	<img src="./Vegan Diet Image.jpg" alt="">
                <h2>Vegan</h2>
                <p>A vegan is someone who does not eat, drink, or otherwise consume or use any animal products. Vegan foods are abundant, delicious, filling, and cruelty-free, which makes them ideal for people at any stage of life. </p>
            </div>
        </div>
    </div>
    <div class="space"></div>
     <div class="organic">
    	<div class="organicHolder">
        	<div class="organicContent">
            	<img src="./Vegetarian Diet Image.jpg" alt="">
                <h2>Vegetarian</h2>
                <p>a vegetarian doesn’t consume any meat products, such as beef, poultry, pork, or fish. Most vegetarians don’t cut dairy from their diet. They also eat eggs. In other words, they consume products that animals make, but not meat that requires slaughter. Some vegetarians, however, eat eggs and not dairy or vice versa. A pescetarian eats fish and shellfish, but not any other form of meat.</p>
            </div>
        </div>
        <div class="organicHolder">
        	<div class="organicContent">
            	<img src="./Meat  Image.jpg" alt="">
                <h2>Meat Based</h2>
                <p>The Meat based meals are includes meat, fish, and other animal foods like eggs and certain dairy products.It includes all other foods, including fruits, vegetables, legumes, grains, nuts, and seeds. </p>
            </div>
        </div>
        <div class="organicHolder">
        	<div class="vegetable">
            	<h3>Learn About Creating Your Own Meals</h3>
            </div>
        </div>
    </div>
<div class="clear"></div>
<div class="hr"></div>
<div class="space"></div>
<div id="footer"><!-- Footer starts here -->
<div class="contactHeading">Contact Us</div>
<div class="footerHolder">
	<div class="footerLeft">
    	<p class="left">Address:</p>
        <p class="right">Sesame Street<br> Georgia<br>USA</p>
    </div>
    <div class="footerRight">
    	<p class="left">Phone: <br> Fax: <br>Email: <br> Twitter:</p>
	    <p class="right">1 800 600 0000 <br> 1 800 600 0000 <br> meals@OurMeals.com <br> @OurMeals</p>
    </div>
    <div class="clear"></div>
</div>
</div><!-- Footer ends here -->
</div>
<div id="contentBottom"></div><!-- Content ends here -->
<div class="bottomHolder">
<div class="copy">Copyright 2021 OurMeals</div>
<div class="design">Project 2</div>
</div>
</div><!-- Main ends here -->


