<div id="main"><!-- Main starts here -->
<div id="header"><!-- Header starts here -->



<!-- Top Bar Menu starts-->
    <div id="wrapper">
  <div id="menu">
    <ul>
      <li><a href="/" class="current"><span>.01</span>Home</a></li>
      <li><a href="/about"><span>.02</span>About Us</a></li>
      <li><a href="/login"><span>.03</span>Login</a></li>
      <li><a href="/exchange"><span>.04</span>Request-A-Book</a></li>
      <li><a href="/donate"><span>.05</span>Donate-A-Book</a></li>
      <li><a href="/contact"><span>.07</span>Contact</a></li>
    </ul>
  </div>
 <!-- Top Bar Menu ends-->
   {{id}} 
  <h1>Welcome, {{name}}</h1>  
     {{email}}
    <div class="searchBar">
        <div class="search">
        	<div class="txt"><input type="text"></div>
            <div class="searchBt"><input type="button" value="search"></div>
        </div>
    	<div class="signIn">sign in</div>
    </div>
    <div class="logo">
    	<a href="/"><img src="/images/james baldwin general.jpg" alt=""></a>
    </div>
    <div><marquee behavior="scroll" direction="left">HTML scrolling text... </marquee></div><!--scrolling text-->

   

    <div class="subs">
    	<p>SUBCRIBE to RSS</p><img src="IMAGE NEEDED" alt="">
    </div>
</div><!-- Header ends here -->

<div class="clear"></div>
<div id="contentTop"></div><!-- Content starts here -->
<div id="content">
	<div class="welcomeHolder">
    <div class="welcome">
    	<img src="IMAGE NEEDED" alt="">
		<h1>James Baldwin</h1>
        <p><em>James Arthur Baldwin was an American novelist, playwright, essayist, poet, and activist. His essays, collected in Notes of a Native Son, explore intricacies of racial, sexual, and class distinctions in the Western society of the United States during the mid twentieth-century </em></p>  
         <p align="right"><input type="button" value="VIEW OUR MEALS" class="view"></p> 
         <div class="clear"></div>
    </div>
    <div class="welcomeBottom"></div>
    </div>
	
<div class="clear"></div>
<div class="hr"></div>
<div class="space"></div>
<div id="footer"><!-- Footer starts here -->
<div class="contactHeading">Contact Us</div>
<div class="footerHolder">
	<div class="footerLeft">
    	<p class="left">Address:</p>
        <p class="right">Sesame Street<br> Georgia<br>USA</p>
    </div>
    <div class="footerRight">
    	<p class="left">Phone: <br> Fax: <br>Email: <br> Twitter:</p>
	    <p class="right">1 800 600 0000 <br> 1 800 600 0000 <br> meals@OurMeals.com <br> @OurMeals</p>
    </div>
    <div class="clear"></div>
</div>
</div><!-- Footer ends here -->
</div>
<div id="contentBottom"></div><!-- Content ends here -->
<div class="bottomHolder">
<div class="copy">Copyright 2021 OurMeals</div>
<div class="design">Project 2</div>
</div>
</div><!-- Main ends here -->


