<h2>ABOUT US</h2>
<h2>Welcome, {{name}}!</h2>

<img src='/images/james baldwin general.jpg' alt='' />

<p id='about'>The hub allows for students, teachers, schools, and individuals to
  exchange books for free by requesting or donating a book.</p>