<section>
  <div class="authorMonth">
    <div id="aom">AUTHOR of the MONTH</div>

    <div><a href="/"><img id="main_img" src="/images/james baldwin general.jpg" alt=""></a></div>

    <p>James Arthur Baldwin (August 2, 1924 – December 1, 1987) was an American novelist,
      playwright, essayist, poet, and activist.Baldwin's novels, short stories, and plays
      fictionalize fundamental personal questions and dilemmas amid complex social and
      psychological pressures. </p>

  </div>

  <div>
    <marquee behavior="scroll" direction="left">Donate hard to find books...Request hard to find books... </marquee>
  </div>
  <!--scrolling text-->

</section>


<section>
  <!-- Content starts here -->
  <div id="content">
    <div class="content_section">
      <h2>Welcome to The Hub</h2>
      <p>Students can request a book for free.</p>
    </div>
    <div class="content_section">
      <h2>Our Books</h2>
      <div class="product_box margin_r35">
        <h3>Maya Angelou</h3>
        <div class="image_wrapper"> <a href="#"><img src="/images/MA_IKW.jpg" alt="" /></a> </div>
        <a href="#">Exchange</a> | <a href="#">Donate</a>
      </div>
      <div class="product_box margin_r35">
        <h3>Zora Neal Hurston</h3>
        <div class="image_wrapper"> <a href="#"><img src="/images/ZNH_TEWWG.jpg" alt="" /></a> </div>
        <a href="#">Exchange</a> | <a href="#">Donate</a>
      </div>
      <div class="product_box">
        <h3>Octavia Butler</h3>
        <div class="image_wrapper"> <a href="#"><img src="/images/octavia butler kindred.jpg" alt="" /></a> </div>
        <a href="#">Exchange</a> | <a href="#">Donate</a>
      </div>
      <div class="cleaner"></div>
      <div class="product_box margin_r35">
        <h3>Maya Angelou</h3>
        <div class="image_wrapper"> <a href="#"><img src="/images/MA_IKW.jpg" alt="" /></a> </div>
        <a href="#">Exchange</a> | <a href="#">Donate</a>
      </div>
      <div class="product_box margin_r35">
        <h3>Maya Angelou</h3>
        <div class="image_wrapper"> <a href="#"><img src="/images/MA_IKW.jpg" alt="" /></a> </div>
        <a href="#">Exchange</a> | <a href="#">Donate</a>
      </div>
      <div class="product_box">
        <h3>Maya Angelou</h3>
        <div class="image_wrapper"> <a href="#"><img src="/images/MA_IKW.jpg" alt="" /></a> </div>
        <a href="#">Exchange</a> | <a href="#">Donate</a>
      </div>
    </div>

  </div>
</section>

<section>
  <div id="footer">
    <!-- Footer starts here -->
    <div class="contactHeading">Contact Us</div>
    <div class="footerHolder">
      <div class="footerLeft">
        <p class="left">Address:</p>
        <p class="right">Sesame Street<br> Georgia<br>USA</p>
      </div>
      <div class="footerRight">
        <p class="left">Phone: <br> Fax: <br>Email: <br> Twitter:</p>
        <p class="right">1 800 600 0000 <br> 1 800 600 0000 <br> info@TheHub.com <br> @TheHub</p>
      </div>
      <div class="clear"></div>



      <div id="contentBottom"></div><!-- Content ends here -->
      <div class="bottomHolder">
        <div class="copy">Copyright 2021</div>
        <div class="design">Project 2</div>
      </div>
</section>