* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.header {
  height: 15vh;
  width: 100%;
  padding: 0 8%;
  background: rgb(83, 49, 3);
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  align-items: center;
  position: relative;
  color: #fff;
}
.logo {
  width: 140px;
}

.nav-links {
  padding: 28px 0;
}

.nav-links li {
  display: inline-block;
  margin: 0 15px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 0;
  position: relative;
}
.nav-links li a::after {
  content: '';
  background: #f5880c;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.5s;
}

.nav-links li a:hover::after {
  width: 100%;
}

.btn {
  background: #f5880c;
  color: #fff;
  padding: 10px 30px;
  border-radius: 3px;
  cursor: pointer;
}
/* 
.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
} */

/* Login Box CSS */
@import url('https:fonts.googleapis.com/css?family=Muli&display=swap');

.left-side {
  background-color: #c1d164;
  color: #fff;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  width: 20%;
  padding-left: 15px;
  float: left;
}
#login-section {
  box-sizing: border-box;
}

.login-container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 15px;
}

.container h5 {
  text-align: center;
  margin-bottom: 30px;
}

.container a {
  text-decoration: none;
  color: lightblue;
}

.btn-login {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: #f5880c;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}

.btn-login:focus {
  outline: 0;
}

.btn-login:active {
  transform: scale(0.98);
}

.text {
  margin-top: 30px;
}
.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus,
.form-controlinput:valid {
  outline: 0;
}
/* .search {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90%;
  max-width: 900px;
  transform: translate(-50%, 50%);
  text-align: center;
  color: #fff;
}

.search h1 {
  font-size: 65px;
  font-weight: 600;
  margin-bottom: 40px;
}

.search form {
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  display: flex;
}

.search form input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: 18px;
}

.search form button {
  background: #f5880c;
  color: #fff;
  padding: 15px 40px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.catgory-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.category {
  width: 80px;
  height: 80px;
  background: rgba(255, 61, 0, 0.15);
  margin: 0 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.category img {
  width: 25px;
}

.footer {
  height: 15vh;
  width: 100%;
  padding: 0 8%;
  background: rgb(83, 49, 3);
  position: fixed;
  bottom: 0;
}

/* body {
  background: #c1d164;
  color: rgb(83, 49, 3);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  flex-direction: column;
} */
/* #top {
  width: 100%;
  margin: 0 auto;
}

#main {
  width: 1200px;
  margin: 0px auto;
  height: 1400px;
} */

/* #header {
  margin: 0px auto;
  background-color: #5d240988;
  line-height: normal;
  width: 100%;
  display: inline-flex; */
/* }
title {
  margin: 0px auto;
  color: black;
  font-weight: 700;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 80px;
  width: 100%;
}




/*.view {
  background: url(img/view.png) no-repeat center;
  width: 192px;
  height: 29px;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  padding: 1px 15px 3px 0px;
  margin: 25px 0px 0px;
  line-height: 25px;
  cursor: pointer;
} */

/* .view:hover {
  color: #f7cc1e;
}

#footer {
  width: 980px;
  margin: 10px auto;
}

.contactHeading {
  background: url(img/contactHeading.png) no-repeat left top;
  height: 25px;
  width: 149px;
  margin: -20px 0px 0px -8px;
  color: #f7eee2;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  padding: 5px 25px;
  position: relative;
  z-index: 100;
}

.footerHolder {
  background: url(img/footerBg.jpg) no-repeat center bottom;
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
  height: 58px;
  padding: 35px 50px;
  margin-top: -10px; */
/* }

.footerLeft {
  width: 190px;
  float: left;
}

.footerRight {
  width: 240px;
  float: left;
  margin-left: 150px;
  margin-top: -10px;
}

.left {
  float: left;
  color: #7e9c23;
  text-align: right;
  width: auto;
}

.right {
  color: #51350c;
  float: right;
  width: auto;
}

.bottomHolder {
  font-size: 12px;
  color: #26120f;
  margin: 5px auto;
  width: 980px;
}

.copy {
  float: left;
  width: auto;
}

.design {
  float: right;
  width: auto;
}

.design a {
  color: #26120f;
  text-decoration: none;
}

.design a:hover {
  color: #26120f;
  text-decoration: underline;
}
#main_img {
  display: block;
  /* margin-left: auto; */
/* margin-right: auto;
  width: 25%;
} */

/* .margin_r35 {
  margin-right: 35px;
}

.product_box {
  float: left;
  width: 200px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #666;
  margin-bottom: 20px;
} */
/* .cleaner {
  clear: both;
  width: 100%;
  height: 0px;
  font-size: 0px;
}
.cleaner_h10 {
  clear: both;
  width: 100%;
  height: 10px;
} */
/* .cleaner_h20 {
  clear: both;
  width: 100%;
  height: 20px;
}
.cleaner_h30 {
  clear: both;
  width: 100%;
  height: 30px;
}
.cleaner_h40 {
  clear: both;
  width: 100%;
  height: 40px;
} */
/* .cleaner_h50 {
  clear: both;
  width: 100%;
  height: 50px;
}
.cleaner_h60 {
  clear: both;
  width: 100%;
  height: 60px;
} */

/* .product_box {
  padding: 4px;
  border: 1px solid #2e202a;
  margin-bottom: 10px;
}

#content .content_section {
  clear: both;
  width: 670px;
  border-bottom: 1px dotted #666;
  padding-bottom: 20px;
  margin-bottom: 20px;
} */

/* h3 {
  margin: 0;
  padding: 2px 0;
  font-size: 18px;
  font-weight: normal;
  color: #271a23;
}

.product_box h3 {
  background: #2e202a;
  padding: 3px 10px;
  margin: 10px 0;
  color: #aea68c;
  font-size: 12px;
} */

/* .authorMonth {
  font-size: 20px;
  color: rgb(83, 49, 3);
  display: inline-flexbox;
  border: 1rem solid #2e202a;
  /* flex-direction: column; */
/* } */

/* .aom {
  text-align: center;
  color: rgb(83, 49, 3);
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: rgb(182, 109, 6);
}  */
