*{
    margin:0px;
    padding:0px;
    }
    
    img {
    border:none;	
    }
    
    .clear{
    clear:both;	
    }
    
    
    .space{
    clear:both;
    height:10px;
    }
    
    body{
        background:#69523b;	
        color:#29371d;
        font-family:Arial, Helvetica, sans-serif;
        font-size:14px;
    }
    
    #main{
        width:1200px;
        margin:0px auto;
        height:1400px;
    }
    
    #header{
        width:980px;
        margin:0px auto;
    }
    
    .searchBar{
    background:none;
    float:left;
    text-align:right;
    width:100%;
    }
    
    .signIn{
        background:transparent url(img/signInBg.png) no-repeat top center;
        width:102px;
        height:25px;
        color:#e7daaa;
        text-transform:uppercase;
        text-align:center;
        padding:10px 5px;
        float:right;
    }
    
    .search{
    float:right;
    background:url(img/searchBg.png) no-repeat top center;
    height:45px;
    width:400px;
    padding:6px 20px;
    }
    
    input{
    margin:0px 0px;	
    }
    
    .txt input{
        border:1px solid #b0c5a4;
        height:16px;
        padding:5px;
        width:285px;
        float:left;
    }
    
    .searchBt input{
        background:url(img/searchBtBg.png) no-repeat center bottom;
        width:97px;
        height:28px;
        color:#ffffff;
        border:none;
        text-transform:uppercase;
        padding:3px 15px 3px 0px;
        float:right;
    }
    
    .logo{
    clear:both;
    padding-left:20px;
    }
    
    /* menu */

#menu {
	clear: both;
	width: 970px;	
	height: 90px;
	padding: 0 10px;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu ul li {
	padding: 0;
	margin: 0;
	/* display: inline; */
}

#menu ul li a {
	float: left;
	display: block;
	height: 70px;
	width: 120px;
	padding: 20px 0 0 20px;
	font-size: 18px;
	text-decoration: none;
	color: #ffffff;	
	font-weight: normal;
	outline: none;	
	background: url(images/menu_divider.png) center left no-repeat;
}

#menu ul li a span {
	display: block;
	color: #b56076;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-bottom: 10px;
}


#menu li a:hover span, #menu li .current span {
	color: #ffffff;
}

/* end of menu */

/*wrapper*/
#wrapper {
	width: 990px;
	margin: 0 auto;
}

/*end of wrapper*/

/*header bar*/

#header_bar {
	clear: both;
	width: 970px;
	height: 115px;
	padding: 0 10px;
	overflow: hidden;
	background: url(images/header_right.png) right bottom no-repeat;
}

#header_bar  #header {
	position: relative;
	float: left;
	padding: 0 30px;
	margin-top: 20px;
	overflow: hidden;
	background: url(images/site_title_left.png) no-repeat top left;
}

#header_bar  #header .right {
	position: absolute;
	top: 0;
	right: 0;
	width: 25px;
	height: 83px;
	background: url(images/site_title_right.png);
}

#header_bar  #header h1 {
	margin: 0;
	padding: 5px 0;
}

#header_bar  #header h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#header_bar  #header h1 a:hover {
	font-weight: bold;	
	text-decoration: none;
}

#header_bar  #header h1 a span {
	display: block;
	font-size: 12px;
	color: #ffffff;
	font-weight: normal;
	letter-spacing: 2px;
}


#header_bar #search_box {
	float: right;
	width: 280px;
	height: 29px;
	padding: 1px;
	margin-top: 70px;
	background: url(images/search_box.png);
}

#search_box form {
	width: 280px;
	height: 29px;
	margin: 0;
	padding: 0;
}

#searchfield {
	height: 19px;
	width: 200px;
	padding: 5px 5px 5px 5px;
	margin-right: 0px;
	color: #988392;
	font-size: 12px;
	font-variant: normal;
	line-height: normal;
	background: none;
	border: none;
}

#searchbutton {
 	height: 29px;
	width: 60px;
	padding: 0 0 10px 0;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	color: #ffffff;
	background: none;
	border: none;
}

/* end of header */

    .subs{
    background:url(img/subsBg.png) no-repeat center bottom;	
    width:158px;
    float:right;
    padding:10px 20px;
    margin-top:60px;
    margin-bottom:-10px;
    }
    

    .subs img{
    float:right;	
    }
    
    .subs p{
    float:left;	
    color:#e9dbac;
    text-transform:uppercase;
    width:auto;
    }
    
    #contentTop{
    background:url(img/contentTop.png) no-repeat top;
    height:10px;
    width:988px;
    margin:0px auto;
    padding:0px 10px;
    }
    
    #contentBottom{
    background:url(img/contentBottom.png) no-repeat bottom;
    height:10px;
    width:988px;
    margin:0px auto;
    padding:0px 10px;
    }
    
    #content{
    background:url(img/contentBg.png) repeat-y top center;
    padding:10px 15px;
    width:978px;
    margin:0px auto;
    }
    
    .welcomeHolder{
    background:url(img/welcomeTop.png) no-repeat top center;
    width:940px;
    margin:0px auto;
    padding-top:7px;
    }
    
    .welcome{
    background:url(img/welcomeBg.png) repeat-y top center;
    width:910px;
    margin:0px auto;
    padding:5px 15px;
    line-height:20px;
    clear:both;
    }
    
    .welcome img{
    float:right;
    margin:0px 0px 0px 30px;
    }
    
    .welcomeBottom{
    background:url(img/welcomeBottom.png) no-repeat bottom center;
    height:5px;
    width:940px;
    }
    
    h1{
    color:#6b4916;
    font-size:28px;
    font-style:italic;
    line-height:normal;
    margin:5px 0px 10px;
    }
    
    .view{
        background:url(img/view.png) no-repeat center;	
        width:192px;
        height:29px;
        color:#ffffff;
        border:none;
        text-transform:uppercase;
        padding:1px 15px 3px 0px;
        margin:25px 0px 0px;
        line-height:25px;
        cursor:pointer;
    }
    
    .view:hover { color:#f7cc1e; }
    
    .heading{
    background:url(img/headingBg.png) no-repeat center top;
    height:25px;
    margin:15px -10px;
    color:#f7eee2;
    font-weight:bold;
    font-style:italic;
    font-size:18px;
    padding:5px 30px;
    }
    
    .organic{
    clear:both;
    width:980px;
    margin:15px auto 0px 10px;
    }
    
    .organicHolder{
    float:left;
    width:300px;
    background:url(img/organicHolder.jpg) no-repeat bottom center;
    padding-bottom:5px;
    margin:0px 10px;
    }
    
    .organicContent{
    background:url(img/organicContent.jpg) repeat-y top center;
    padding:0px 0px 10px;
    height:275px;
    }
    
    .organicContent h2{
    margin:10px 15px;
    font-size:15px;
    color:#674512;
    }
    
    .organicContent p{
    margin:0px 12px;	
    color:#29371d;
    text-align:justify;
    font-size:14px;
    line-height:19px;
    }
    
    .vegetable{
    background:url(img/img07.jpg) no-repeat bottom center;
    margin-bottom:-5px;
    height:290px;
    }
    
    h3{
    color:#6b4916;
    font-size:28px;
    font-style:italic;
    padding:10px;
    }
    
    .hr {border: none 0;
    background:url(img/hr.jpg) repeat-x left;
    height: 2px;/*whatever the total width of the border-top and border-bottom equal*/
    margin:20px 17px;
    } 
    
    #footer{
        width:980px;
        margin:10px auto;
    /*	background:url(img/contentBg.png) repeat-y top center;*/
    }
    
    .contactHeading{
    background:url(img/contactHeading.png) no-repeat left top;
    height:25px;
    width:149px;
    margin:-20px 0px 0px -8px;
    color:#f7eee2;
    font-weight:bold;
    font-style:italic;
    font-size:18px;
    padding:5px 25px;
    position:relative;
    z-index:100;
    }
    
    .footerHolder{
        background:url(img/footerBg.jpg) no-repeat center bottom;
        font-size:17px;
        font-style:italic;
        font-weight:bold;
        height:58px;
        padding:35px 50px;
        margin-top:-10px;
    }
    
    .footerLeft{
    width:190px;	
    float:left;
    }
    
    .footerRight{
    width:240px;
    float:left;
    margin-left:150px;
    margin-top:-10px;
    }
    
    .left{
        float:left;
        color:#7e9c23;
        text-align:right;
        width:auto;
    }
    
    .right{
    color:#51350c;
    float:right;
    width:auto;
    }
    
    .bottomHolder{
        font-size:12px;
        color:#26120f;
        margin:5px auto;
        width:980px;
    }
    
    .copy{
    float:left;	
    width:auto;
    }
    
    .design{
        float:right;
        width:auto;
    }
    
    .design a{
        color:#26120f;
        text-decoration:none;
    }
    
    .design a:hover{
        color:#26120f;
        text-decoration:underline;
    }
